body {
    background-color: lightblue;
  }
  h1 {
    background-color: green;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
  }
   p {
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    text-align: center;
    color: red;
  }
    
  
  h2 {
    background-color: green;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
  }
  h3 {
    background-color: green;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: green;
  }
  
 